			body{padding: 0;margin: 0;}
			/*ad-carousel*/
			#ad-carousel{margin-top: 50px;}
			/*row1*/
			.row1{margin-top: 10px;margin-left: 0;margin-right: 0;overflow: hidden;}
			.row1 .col-md-5 h1{color: #035CAC;font-weight: bold;/*padding-top:1em ;*/}
			.row1 .col-md-5 h3{color: #666666;padding-top: 0.5em;}
			.row1 .col-md-5 p{text-indent: 2em;font: 16px "微软雅黑";color: #747474;}
			.row1 .col-md-5 .xiangqing{margin-top: 30px;/*border: 1px solid red;*/overflow: hidden;/*width: 40%;*/}
			.row1 .col-md-5 .xiangqing:hover>a{color:#035CAC ;}
			.row1 .col-md-5 .xiangqing:hover>img{color:#035CAC;}
			.row1 .col-md-5 a{font:bold 25px "微软雅黑";color: #111;float: left;text-decoration: none;margin-top: 2px;}
			.row1 .col-md-5 img{color: #a6a6a6;float: left;width: 40px;height: 40px;margin-left:2em ;}
			/*.row1 .col-md-6 img{width: 100%;height: 300px;}*/
			figure.effect-oscar {
				width: 100%;height: 300px;
				overflow: hidden;
				background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
				background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
			}
			
			figure.effect-oscar img {
				opacity: 0.9;
				-webkit-transition: opacity 0.35s;
				transition: opacity 0.35s;
			}
			
			figure.effect-oscar figcaption {
				/*position: absolute;
				top: 10%;*/
				padding: 3em;
				background-color: rgba(58,52,42,0.7);
				-webkit-transition: background-color 0.35s;
				transition: background-color 0.35s;
			}
			
			figure.effect-oscar figcaption::before {
				position: absolute;
				top: 30px;
				right: 30px;
				bottom: 30px;
				left: 30px;
				border: 1px solid #fff;
				content: '';
			}
			
			figure.effect-oscar h2 {
				position: absolute;
				top: 20%;
				/*margin: 20% 0 10px 0;*/
				-webkit-transition: -webkit-transform 0.35s;
				transition: transform 0.35s;
				-webkit-transform: translate3d(0,100%,0);
				transform: translate3d(0,100%,0);
			}
			
			figure.effect-oscar figcaption::before,
			figure.effect-oscar p {
				position: absolute;
				top: 40%;
				opacity: 0;
				-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
				transition: opacity 0.35s, transform 0.35s;
				-webkit-transform: scale(0);
				transform: scale(0);
			}
			
			figure.effect-oscar:hover h2 {
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}
			
			figure.effect-oscar:hover figcaption::before,
			figure.effect-oscar:hover p {
				opacity: 1;
				-webkit-transform: scale(1);
				transform: scale(1);
			}
			
			figure.effect-oscar:hover figcaption {
				background-color: rgba(58,52,42,0);
			}
			
			figure.effect-oscar:hover img {
				opacity: 0.4;
			}
			/*row2*/
			.row2{margin-left: 0;margin-right: 0;overflow: hidden;}
			.row2 .col-md-5 h1{color: #035CAC;font-weight: bold;}
			.row2 .col-md-5 h3{color: #666666;padding-top: 0.5em;}
			.row2 .col-md-5 p{text-indent: 2em;font: 16px "微软雅黑";color: #747474;}
			.row2 .col-md-5 .xiangqing{margin-top: 30px;/*border: 1px solid red;*/overflow: hidden;/*width: 40%;*/}
			.row2 .col-md-5 .xiangqing:hover>a{color:#035CAC ;}
			.row2 .col-md-5 .xiangqing:hover>img{color:#035CAC;}
			.row2 .col-md-5 a{font:bold 25px "微软雅黑";color: #111;float: left;text-decoration: none;margin-top: 2px;}
			.row2 .col-md-5 img{color: #a6a6a6;float: left;width: 40px;height: 40px;margin-left: 2em;}
			/*.row2 .col-md-6 img{width: 100%;height: 300px;}*/
			figure.effect-dexter {
				width: 100%;height: 300px;
				overflow: hidden;
				background: -webkit-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(104,60,19,1) 100%);
				background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(104,60,19,1) 100%); 
			}
			
			figure.effect-dexter img {
				-webkit-transition: opacity 0.35s;
				transition: opacity 0.35s;
			}
			
			figure.effect-dexter:hover img {
				opacity: 0.4;
			}
			
			figure.effect-dexter figcaption::after {
				position: absolute;
				right: 30px;
				bottom: 30px;
				left: 30px;
				height: -webkit-calc(50% - 30px);
				height: calc(50% - 30px);
				border: 7px solid #fff;
				content: '';
				-webkit-transition: -webkit-transform 0.35s;
				transition: transform 0.35s;
				-webkit-transform: translate3d(0,-100%,0);
				transform: translate3d(0,-100%,0);
			}
			
			figure.effect-dexter:hover figcaption::after {
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}
			
			figure.effect-dexter figcaption {
				padding: 3em;
				text-align: left;
			}
			
			figure.effect-dexter p {
				position: absolute;
				right: 60px;
				bottom: 60px;
				left: 60px;
				opacity: 0;
				-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
				transition: opacity 0.35s, transform 0.35s;
				-webkit-transform: translate3d(0,-100px,0);
				transform: translate3d(0,-100px,0);
			}
			
			figure.effect-dexter:hover p {
				opacity: 1;
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}
			/*row3*/
			.row3{margin-left: 0;margin-right: 0;overflow: hidden;}
			.row3 .col-md-5 h1{color: #035CAC;font-weight: bold;/*padding-top:1em ;*/}
			.row3 .col-md-5 h3{color: #666666;padding-top: 0.5em;}
			.row3 .col-md-5 p{text-indent: 2em;font: 16px "微软雅黑";color: #747474;}
			.row3 .col-md-5 .xiangqing{margin-top: 30px;/*border: 1px solid red;*/overflow: hidden;/*width: 40%;*/}
			.row3 .col-md-5 .xiangqing:hover>a{color:#035CAC ;}
			.row3 .col-md-5 .xiangqing:hover>img{color:#035CAC;}
			.row3 .col-md-5 a{font:bold 25px "微软雅黑";color: #111;float: left;text-decoration: none;margin-top: 2px;}
			.row3 .col-md-5 img{color: #a6a6a6;float: left;width: 40px;height: 40px;margin-left:2em ;}
			/*.row3 .col-md-6 img{width: 100%;height: 300px;}*/
			figure.effect-marley{width: 100%;height: 300px;overflow: hidden;}
			figure.effect-marley figcaption {
				text-align: right;
			}
			
			figure.effect-marley h2,
			figure.effect-marley p {
				position: absolute;
				right: 30px;
				left: 30px;
				padding: 10px 0;
			}
			
			
			figure.effect-marley p {
				bottom: 30px;
				line-height: 1.5;
				-webkit-transform: translate3d(0,100%,0);
				transform: translate3d(0,100%,0);
			}
			
			figure.effect-marley h2 {
				top: 30px;
				-webkit-transition: -webkit-transform 0.35s;
				transition: transform 0.35s;
				-webkit-transform: translate3d(0,20px,0);
				transform: translate3d(0,20px,0);
			}
			
			figure.effect-marley:hover h2 {
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}
			
			figure.effect-marley h2::after {
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 4px;
				background: #fff;
				content: '';
				-webkit-transform: translate3d(0,40px,0);
				transform: translate3d(0,40px,0);
			}
			
			figure.effect-marley h2::after,
			figure.effect-marley p {
				opacity: 0;
				-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
				transition: opacity 0.35s, transform 0.35s;
			}
			
			figure.effect-marley:hover h2::after,
			figure.effect-marley:hover p {
				opacity: 1;
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}
			/*row4*/
			.row4{margin-left: 0;margin-right: 0;overflow: hidden;}
			.row4 .col-md-5 h1{color: #035CAC;font-weight: bold;}
			.row4 .col-md-5 h3{color: #666666;padding-top: 0.5em;}
			.row4 .col-md-5 p{text-indent: 2em;font: 16px "微软雅黑";color: #747474;}
			.row4 .col-md-5 .xiangqing{margin-top: 30px;/*border: 1px solid red;*/overflow: hidden;/*width: 40%;*/}
			.row4 .col-md-5 .xiangqing:hover>a{color:#035CAC ;}
			.row4 .col-md-5 .xiangqing:hover>img{color:#035CAC;}
			.row4 .col-md-5 a{font:bold 25px "微软雅黑";color: #111;float: left;text-decoration: none;margin-top: 2px;}
			.row4 .col-md-5 img{color: #a6a6a6;float: left;width: 40px;height: 40px;margin-left: 2em;}
			/*.row4 .col-md-6 img{width: 100%;height: 300px;}*/
			figure.effect-sarah {
				width: 100%;height: 300px;
				overflow: hidden;
				background: #42b078;
			}
			
			figure.effect-sarah img {
				width: 100%;
				height: 100%;
				width: -webkit-calc(100% + 20px);
				width: calc(100% + 20px);
				-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
				transition: opacity 0.35s, transform 0.35s;
				-webkit-transform: translate3d(-10px,0,0);
				transform: translate3d(-10px,0,0);
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
			}
			
			figure.effect-sarah:hover img {
				opacity: 0.4;
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}
			
			figure.effect-sarah figcaption {
				text-align: left;
			}
			
			figure.effect-sarah h2 {
				position: absolute;
				top: 10%;
				left: 10%;
				overflow: hidden;
				padding: 0.5em 0;
			}
			
			figure.effect-sarah h2::after {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 3px;
				background: #fff;
				content: '';
				-webkit-transition: -webkit-transform 0.35s;
				transition: transform 0.35s;
				-webkit-transform: translate3d(-100%,0,0);
				transform: translate3d(-100%,0,0);
			}
			
			figure.effect-sarah:hover h2::after {
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}
			
			figure.effect-sarah p {
				position: absolute;
				top: 40%;
				right: 30%;
				/*padding: 1em 0;*/
				opacity: 0;
				-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
				transition: opacity 0.35s, transform 0.35s;
				-webkit-transform: translate3d(100%,0,0);
				transform: translate3d(100%,0,0);
			}
			
			figure.effect-sarah:hover p {
				opacity: 1;
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}
			/*row5  无缝轮播*/
			#row5{}
			#row5 .col-md-12{}
			#row5 .col-md-12 a{position:absolute; 
			top:45%;
			cursor: pointer;
			width:48px; 
			height:48px; 
			text-align:center; 
			line-height:48px; 
			font-size:36px;
			text-decoration:none; 
			color:#fff; 
			background:#CFC4B4; 
			border-radius: 50%;
}
#row5 .col-md-12 a:hover{ opacity:.6;}
#row5 .col-md-12 a:nth-child(1){left: 5%;}
#row5 .col-md-12 a:nth-child(2){right:5%;}

			#row5 .col-md-12 #div1{}
			#div1{
			position: relative;
			/*border: 1px solid black;*/
			width: 80%;
			height: 160px;
			margin: 100px auto;
			overflow: hidden;
		}
		#div1 ul{
			list-style: none;
			position: absolute;
			left: 0;
		}
		#div1 ul li{
			float: left;
			padding: 5px;
			width: 180px;
			height: 165px;
		}
		#div1 ul li img{
			width: 180px;
			height: 100%;
			transform:all 0.5s ease-in;
			cursor: pointer;
		}
		#div1 ul li img:hover{
			transform:scale(1.2);
		}

			/*content-bottom*/
			.content-bottom{background-color: #222222;}
			.content-bottom .container .row .col-md-2{margin-top: 1em;}
			.content-bottom .container .row .col-md-2 h4 a{color: #ffffff;text-decoration: none;}
			.content-bottom .container .row .col-md-2 h4 a:hover{color: #035CAC;text-decoration: none;}
			.content-bottom .container .row .col-md-2 p a{color: #B0B0B0;text-decoration: none;}
			.content-bottom .container .row .col-md-2 p a:hover{color: #ffffff;}
			.content-bottom .container .row .col-md-1 p a{color: #ffffff;}
			.content-bottom .container .row .col-md-3 .col-md-6{text-align: center;box-sizing: border-box;padding-top: 2em;}
			.content-bottom .container .row .col-md-3 .col-md-6 img{width: 100px;height: 100px;}	
			.content-bottom .container .row .col-md-3 .col-md-6 p{color: white;box-sizing: border-box;padding-top: 10px;}
			/*footer*/	
			footer{background-color: #000000;/*height: 4em;*/} 	
			footer .container{/*border: 1px solid red;*/}
			footer .container hr{color: #111111;margin-top: 1em;}
			footer .container .footer_row1{margin-top: 1em;}
			footer .container .footer_row1 .col-md-8{}
			footer .container .footer_row1 .col-md-8 span{font-size: 1em;color:#AAB0B0;}
			footer .container .footer_row1 .col-md-8 span a{color: #AAB0B0;}
			footer .container .footer_row1 .col-md-8 span:nth-child(1){padding:1em 0.8em;}
			footer .container .footer_row1 .col-md-8 span:nth-child(3){padding:1em 0.8em;}
			footer .container .footer_row1 .col-md-8 span:nth-child(5){padding:1em 0.8em;}
			footer .container .footer_row1 .col-md-4{}
			footer .container .footer_row1 .col-md-4 span{font-size: 1em;color:#AAB0B0;}
			footer .container .footer_row1 .col-md-4 span a{color: #AAB0B0;}
			footer .container .footer_row1 .col-md-4 span:nth-child(1){padding:1em 0.8em;}
			footer .container .footer_row1 .col-md-4 span:nth-child(3){padding:1em 0.8em;}
			footer .container .footer_row1 .col-md-4 span:nth-child(5){padding:1em 0.8em;}
			footer .container .footer_row1 .col-md-4 span:nth-child(7){padding:1em 0.8em;}
			footer .container .footer_row2{}
			footer .container .footer_row2 .col-md-9{}
			footer .container .footer_row2 .col-md-9 span{color: #AAB0B0;}
			footer .container .footer_row2 .col-md-9 span:nth-child(2) a{color: #333;text-decoration: none;}
			footer .container .footer_row2 .col-md-3{}
			footer .container .footer_row2 .col-md-3 span{border: 1px solid #AAB0B0;font-size: 1.3em;color: #ADADAD;padding: 0.3em 3em;}
			footer .container .footer_row2 .col-md-3 span.gt{border: none;transform: rotate(90deg);padding: 0;}
			footer .container .footer_row2 .col-md-3 span:hover+.disnone{display:block;}
			footer .container .footer_row2 .col-md-3 .disnone{display: none;position: relative;}
			footer .container .footer_row2 .col-md-3 .disnone ul{position: absolute;bottom:0.95em;left: -15%;}
			footer .container .footer_row2 .col-md-3 .disnone ul li{list-style: none;border: 1px solid #AAB0B0;font-size: 1.3em;border-bottom: none;color: #ADADAD;}
